---
http_interactions:
- request:
    method: post
    uri: http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://russianpost.org/operationhistory/data"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:OperationHistoryRequest><wsdl:Barcode>RR123456789EE</wsdl:Barcode><wsdl:MessageType>0</wsdl:MessageType></wsdl:OperationHistoryRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"OperationHistoryRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:OperationHistoryData
        xmlns:ns2="http://russianpost.org/operationhistory/data"/></S:Body></S:Envelope>
  recorded_at: Sat, 20 Apr 2013 22:10:13 GMT
recorded_with: VCR 2.4.0
